
body{
	margin: 0;
	font-family:PT Sans, sans-serif;
}
.container{
	position: relative;
	width: 1320px;
	margin: 0 auto;
}
.content .container{
	display: flex;
}
.row{
	display: flex;
	justify-content: space-between;
}

.logo{
	display: flex;
}
.logo img{
	width: 	63px;
}
header{
	padding: 20px 0;
	color: #fff;
	background: #0084ff;
}
nav svg{
	justify-content: space-between;
	width: 24px;

}
.row1{
	margin: 0 15px;
}
.cell-blue{
	height: 350px;
	width: 800px;
	border-radius: 20px;
	background: #b7dcff;
	color: #0084ff;
}
#features .cell-blue .left{
    width: 500px;

}
.cell-blue img{
	position: absolute;
	right: 70px;
    bottom: 0;
    height: 370px;
}
.cell-blue h2{
	font-size: 30px;
	margin: 40px 0;
}
.cell-blue content{
	line-height: 30px;
	font-size: 20px;
	color: #3279bb;
}
.cell-blue button{
	margin-top: 37px;
	padding: 15px 50px;
	font-size: 15px;
	font-weight: bold;
	border: none;
	border-radius: 30px;
	background: #0084ff;
	color: #fff;
}

#features .row {
    margin-top: 60px;
}

#features .cell-blue{
    position: relative;
	padding: 35px;
}
.container3{

}
 .container4{
 	padding: 35px;
 }

.cell-green{
    padding: 35px;
	text-align: center;
	margin-left: 20px;
	width: 450px;
	height: 350px;
	border-radius: 20px;
	color: #529671;
	background: #c9efda;
}
.cell-green h2{
	font-size: 30px;
	color: #54c788;
}
.cell-green svg{
	width: 100px;
}
.cell-green .content{
	font-size: 20px;
	line-height: 30px;
}

.section3{
	text-align: center;
	margin-top: 20px;
	margin-left: 40px;
	width: 450px;
	height: 350px;
	border-radius: 20px;
	background: #ffd2d2;
	color: #ff8a8a;
}
.section3 h2{
	font-size: 30px;
}
.section3 svg{
	width: 100px;
}
.section3 content{
	font-size: 20px;
	line-height: 30px;
	color: #9e5d5d;
}
.section4{
	text-align: center;
	margin-top: 20px;
	margin-left: 40px;
	width: 450px;
	height: 350px;
	border-radius: 20px;
	background: #ffd2d2;
	color: #ff8a8a;
}


