@font-face{
    font-family: PT sans;
    url("fonts/PTSans-Regular.ttf")
}
body{
	margin: 0;
	font-family: Open Sans, sans-serif;
}
.content .container{
	display: flex;
}
.row{
	display: flex;
	justify-content: space-between;
}
.row>*{
    flex-shrink: initial;
    width: initial;
    max-width: none;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
}
#features h2,
#benefits h2,
#benefits h1,
#benefits #flex-item {
    font-family: PT sans, sans-serif;
}
.logo{
	display: flex;
	width: 63px;
}
.logo img{
	width: 100%;
}
header{
	padding: 20px 0;
	color: #fff;
	background: #0084ff;
}
nav{
    width: 24px;
	cursor: pointer;
}
nav svg{
	justify-content: space-between;
	width: 24px;

}
.cell-blue{
	min-height: 350px;
	padding: 30px 30px 0;
	width: calc(66.66% - 10px);
	border-radius: 20px;
	background: #b7dcff;
	color: #0084ff;
}
#features .cell-blue .left{
    width: 50%;
}
.cell-blue img{
	position: absolute;
	right: 7%;
    bottom: 0;
    height: 370px;
}
.cell-blue h2{
	font-size: 30px;
    font-weight: 700;
	margin: 40px 0;
}
.cell-blue .content{
	line-height: 1.8;
	font-size: 20px;
    font-weight: 600;
	color: #3279bb;
}
.cell-blue button{
	margin-top: 37px;
	padding: 15px 50px;
    font-size: 1.125em;
    letter-spacing: 3px;
    font-weight: 700;
	font-weight: bold;
	border: none;
	border-radius: 30px;
	background: #0084ff;
	color: #fff;
}
#features .btn-svg{
    display: inline-block;
    padding-right: 7px;
}
#features .row {
    margin-top: 20px;
}
#features .cell-blue{
    position: relative;
	padding: 35px;
}
.cell-green{
    padding: 30px;
	text-align: center;
	margin-left: 20px;
	width: calc(33.33% - 10px);
	min-height: 350px;
	border-radius: 20px;
	color: #529671;
	background: #c9efda;
}
.cell-green h2{
    margin-top: 20px;
	font-size: 30px;
    font-weight: 700;
	color: #54c788;
}
.cell-green svg{
    margin-top: 20px;
	width: 100px;
}
.cell-green .content{
    margin-top: 20px;
	font-size: 20px;
    font-weight: 600;
	line-height: 1.8;
}
.w33{
    width: calc(33.33% - calc(44px / 3));
    border: 11px solid transparent;
    box-sizing: border-box;
    padding: 30px;
    min-height: 350px;
}
.mlr {
    margin: 0 22px;
}
.cell-red{
	text-align: center;
	justify-content: center;
	border-radius: 20px;
	background: #ffd2d2;
	color: #ff8a8a;
}
.cell-red h2{
    margin-top: 20px;
	font-size: 30px;
    font-weight: 700;
}
.cell-red svg{
    margin-top: 20px;
	width: 100px;
}
.cell-red .content{
    margin-top: 20px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.8;
	color: #9e5d5d;
}
.cell-orange{
	text-align: center;
	justify-content: center;
	border-radius: 20px;
	background: #ffe7c4;
	color: #ffddab;
}
.cell-orange svg{
    margin-top: 20px;
    width: 100px;
}
.cell-orange h2{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    color:rgb(255, 193, 102);
}
.cell-orange .content{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
	line-height: 1.8;
    color:#a68454;
}
.cell-drk-blue{
    text-align: center;
	justify-content: center;
	border-radius: 20px;
	background: #d5d3f5;
	color: #9693e6;
}
.cell-drk-blue svg{
    margin-top: 20px;
    width: 100px;
}
.cell-drk-blue .content{
    margin-top: 20px;
    font-weight: 600;
     font-size: 20px;
     
	line-height: 1.8;
	color: #676597;
}
.cell-drk-blue h2{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
}
/* Adaptive styles */
@media (max-width: 1200px) {
	#features .cell-blue .left {
		width: 100%;
		text-align: center;
	}
	.cell-blue img {
		display: none;
	}
}
@media (max-width: 992px) {
	.cell-blue {
		width: 100%;
	}
	.cell-green {
	    width: 100%;
	    margin-left: 0;
	    margin-top: 20px;
	}
	.w33{
	    width: 100%;
	    margin-top: 20px;
	}
	.cell-orange{
	    margin-left: 0;
	    margin-right: 0;
	}
	#features .row:nth-child(2) {
        margin-top: 0;
	}
}
 @media (max-width: 400px) {
 .container {
    width: 90%;
    }
 }

 /* section2 */
#benefits{
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: rgb(150, 147, 230);
    background: rgb(150, 147, 230);
}

#benefits .flex-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#benefits .flex-item{
	position: relative;
	margin: 15px;
	padding: 15px;
	width: 400px;
	min-height: 350px;
	border-radius: 20px;
	background: rgb(244, 243, 253);
}
.c1{
	margin: 0 0 0 10px;
	margin-top: 22px;
	font-size: 18px;
}
.btn-more{
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 45px;
    width: 90px;
    background: rgb(150, 147, 230);
    color: rgb(244, 243, 253);
    font-size: 18px;
    cursor: pointer;
}
#benefits h1{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	margin: 0;
	padding: 50px 0;
	font-size: 48px;
	font-weight: 700;
	color: rgb(244, 243, 253);
	background: rgb(150, 147, 230);
}
#benefits h2{
    font-weight: bold;
	font-size: 40px;
	margin: 5px;
}
.flex-item h3{
    font-weight: bold;
	margin: 5px;
	margin-top: 28px;
}
@media (max-width: 992px){
    #benefits .flex-item{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}
.about_us{
    margin-top: 20px;
    display: flex;
}
.about_us h1{
    font-weight: 700;
    font-size: 4.5rem;
    color: #9693e6
}
.left{

    width: 50%;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.2;
}
.right{
    width: 30%;
    float: right;
}
.right svg{
    width: 60px;
}
.get_started{
    display: flex;
    width: 100%;
    height: 600px;
    background: #9693e6;
}
.get_started content-container{
    text-align: center;
    width: 400px;
}
.get_started h5{
    margin-top: 100px;
    margin-bottom: 40px;
    color: #c3c1f1;
}
.get_started h3{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 3rem;
    color: white;
}
.get_started h1{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 6rem;
    font-weight: 700;
    color: #ffc166;
}
.get_started p{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.125rem;
    color: white;
}
.get-started-btn{
    width: 300px;
    height: 80px;
    background: white;
    border-radius: 40px;
    color: #9693e6;
}
.get-started-btn h3{

    text-align: center;
    font-size: 1.25rem;
    margin: 0;
    color: #9693e6;
}